#grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    width: min-content;
}

.box {
    border-radius: 8px;
    margin: auto;
    width: 100px;
    background-color: #333;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.25s;
}

.dead {
    background-color: brown;
}
